* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}
nav ul {
    list-style-type: none;
    display: flex;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
}

ul li {
    padding-left: 0.5em;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 500;
}

.sweetheart-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    grid-template-areas: 
    "div1 div1 div1" 
    "div2 div3 div4";
    gap: 3rem;
}

.sweetheart-images img:nth-child(1) {
    grid-area: div1;
    border-radius: 2%;
}

.sweetheart-images img:nth-child(2) {
    grid-area: div2;
    border-radius: 2%;
}

.sweetheart-images img:nth-child(3) {
    grid-area: div3;
    border-radius: 2%;
}

.sweetheart-images img:nth-child(4) {
    grid-area: div4;
    border-radius: 2%;
}

h1 {
    font-size: 2.027rem;
}

.limited-edition {
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    margin-top: auto;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 4px;
    font-weight: 500;
}

.grey {
    background-color: #f8fafc;
}

h2 {
    text-align: center;
    font-size: 1.802rem;
}