* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;


}

img {
    width: 100%;
}
nav ul {
    list-style-type: none;
    display: flex;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
}

ul li {
    padding-left: 0.5em;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 500;
}

.sweetheart-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "div1 div1 div1" 
    "div2 div3 div4";
    gap: 3rem;
}

.sweetheart-images img:nth-child(1) {
    grid-area: div1;
    border-radius: 2%;
}

.sweetheart-images img:nth-child(2) {
    grid-area: div2;
    border-radius: 2%;
}

.sweetheart-images img:nth-child(3) {
    grid-area: div3;
    border-radius: 2%;
}

.sweetheart-images img:nth-child(4) {
    grid-area: div4;
    border-radius: 2%;
}

h1 {
    font-size: 2.027rem;
}

.limited-edition {
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    margin-top: auto;
    background-color: black;
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 4px;
    font-weight: 500;
    width: 120px;
    text-align: center;
    text-decoration: none;
}

#behind-the-dough {
    background-color: #f8fafc;
}

h2 {
    text-align: center;
    font-size: 1.802rem;
}

#Reviews {
    background-color: black;
    color: white;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.product-grid img {
    border-radius: 10px 10px 0px 0px;
}

.dough-images {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    align-items: center;
}

.names {
    font-weight: bold;
    font-size: 1.266rem;
}

.price {
    font-size: 1.266rem;
}


footer {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .sweetheart-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "div1 div2" "div3 div4";
        gap: 2rem;
    }

    .behind {
        display: flex;
        column-gap: 20px;
    }

    .quotes {
        display: flex;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 960px) {
  

    h1 {
        padding: 0;
        margin: 0;
    }

   .product-grid {
    gap: 2em;
    padding-bottom: 3em;
   }

   .section1 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    padding-bottom: 3em;
   }

   footer {
    align-content: center;
   }
 
}